.picsum-img-wrapper {
    margin-left: 10%;
}

.c-caption {
    position: absolute;
    left: 65%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #512626;
    text-align: center;
    top: 0%;
    margin-top: 0%;
    font-size: 2.5rem;
}

.img-container {
    width: 100%;
    height: 300px;
}

@media only screen and (max-width: 1200px) {
    /* For mobile phones: */
    [class*="c-caption"] {
        left: 10%;
        font-size: 1.5rem;
    }
    .img-container{
        width: 100%;
        height: 250px;
    }
  }

@media only screen and (max-width: 900px) {
    /* For mobile phones: */
    [class*="c-caption"] {
        left: 1%;
        font-size: 1.5rem;
    }

    .img-container{
        width: 100%;
        height: 300px;
    }
  }

