<ngb-carousel>
  <ng-template ngbSlide *ngFor="let slide of slides$ | async">
    <div class="ml-auto mr-auto picsum-img-wrapper row no-gutters">
       <div class="col-12">
        <a href="#"><img width='100%' height="300px" [src]="slide.image" alt="Slide"></a>

      </div>
      <div class="c-caption mr-5">
        <h1>{{slide.slideCaptionTitle}}</h1>
        <p class="lead text-justify">{{slide.slideCaptionDescription}}</p>
        <div class="slide-description">
          <button type="button" class="btn btn-mixer btn-lg" (click)="sendEvent()">{{slide.buttonText}}</button>

        </div>
      </div>
      <!-- <div class="col-6">
        <a href="#"><img width='100%' height="400px" [src]="slide.image" alt="Slide"></a>
      </div>
      <div class="col-6 c-caption ">
        <h1>{{slide.slideCaptionTitle}}</h1>
        <p class="lead text-justify">{{slide.slideCaptionDescription}}</p>

        <div class="slide-description">
          <button type="button" class="btn btn-mixer btn-lg" (click)="sendEvent()">{{slide.buttonText}}</button>

        </div>
      </div> -->

    </div>
    <!-- <div class="col-6 text-center slide-description ">

      </div> -->
      <!-- <a href="#"><img width='100%' height="400px" [src]="slide.image" alt="Slide">
        {{slide.buttonText}}</a>
    <div class="carousel-caption">
        <h3>{{slide.slideCaptionTitle}}</h3>
        <p>{{slide.slideCaptionDescription}}</p>
      </div>
      <div class="col text-center slide-description ">


        </div> -->

  </ng-template>
</ngb-carousel>