<!--page main content-->
<div class="fill-bg">
<div class="container page-container">

    <div class="main" role="main">

        <!-- Page Header -->
        <section class="page-header">

            <header>

                <h1 class="page-title">
                    AWESOME SERVICE </h1>

                <div class="separator">
                    <span class="line"></span><span class="square"></span><span class="line"></span>
                </div>


                <p>We love good ideas, big challenges and forward thinking clients. If you have an interesting project —
                    big or small — we’d love to collaborate with you. To discuss, simply drop us an email and we’ll be
                    in touch. We’re always interested in hearing about new possibilities.</p>

                <div class="flex separator">
                    <span class="line"></span>
                    <span class="wrap"><span class="square"></span></span>
                </div>


            </header>

        </section>
        <!-- End Page Header -->


        <div class="row services-items-wrapper">

            <div class="col-md-6 ">

                <article class="clearfix">

                    <div class="icon-container">
                        <i class="fa fa-rocket"></i>
                    </div>

                    <div class="content-wrapper">

                        <h3 class="title"><a href="">Digital Strategy</a></h3>

                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more Aldus PageMaker including versions of Lorem Ipsum. </p>
                    </div>

                </article>

            </div>

            <div class="col-md-6 ">

                <article class="clearfix">

                    <div class="icon-container">
                        <i class="fa fa-pencil"></i>
                    </div>


                    <div class="content-wrapper">
                        <h3 class="title"><a href="">Design</a></h3>

                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more Aldus PageMaker including versions of Lorem Ipsum. </p>

                    </div>


                </article>

            </div>

            <div class="col-md-6 ">

                <article class="clearfix">

                    <div class="icon-container">
                        <i class="fa fa-mobile"></i>
                    </div>

                    <div class="content-wrapper">
                        <h3 class="title"><a href="">Mobile Apps</a></h3>

                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more Aldus PageMaker including versions of Lorem Ipsum. </p>

                    </div>


                </article>

            </div>

            <div class="col-md-6 ">

                <article class="clearfix">

                    <div class="icon-container">
                        <i class="fa fa-cogs"></i>
                    </div>

                    <div class="content-wrapper">
                        <h3 class="title"><a href="">Production</a></h3>

                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem
                            Ipsum passages, and more Aldus PageMaker including versions of Lorem Ipsum. </p>

                    </div>
                </article>

            </div>


        </div>


        <div class="flex separator">
            <span class="line"></span>
            <span class="wrap"><span class="square"></span></span>
        </div>


        <div class="page-content">

            <div class="row">

                <div class="col-sm-6">
                    <br>

                    <h3>We are awesome</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at
                        laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus
                        sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                    <p>Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et
                        tempor, rhoncus rhoncus sem.</p>

                    <p>Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim
                        purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat
                        quam. Etiam placerat sapien elit.</p>
                </div>

                <div class="col-sm-6">
                    <br>

                    <h3>We are innovative</h3>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at
                        laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus
                        sem.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus
                        at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus
                        sem.</p>

                    <p>Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim
                        purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat
                        quam. Etiam placerat sapien elit.</p>

                </div>

            </div>

        </div>

        <div class="call-to-action">
            <i class="fa fa-heart"></i>It is best for us to say <a href="#" title=""> our works.</a>
        </div>

    </div>

</div>
</div>