<div class="container page-container">

    <div class="main" role="main">
        <!-- Page Header -->
        <section class="page-header">

            <header>

                <h1 class="page-title">
                    AWESOME SERVICE </h1>

                <div class="separator">
                    <span class="line"></span><span class="square"></span><span class="line"></span>
                </div>

                <p>We love good ideas, big challenges and forward thinking clients. If you have an interesting project —
                    big or small — we’d love to collaborate with you. To discuss, simply drop us an email and we’ll be
                    in touch. We’re always interested in hearing about new possibilities.</p>

                <div class="flex separator">
                    <span class="line"></span>
                    <span class="wrap"><span class="square"></span></span>
                </div>

            </header>

        </section>
        <!-- End Page Header -->

        <div class="row services-wrapper">

            <div class="col-md-8 ">

                <article class="clearfix">

                    <div class="service-icon">
                        <i class="fa fa-pencil"></i>
                    </div>

                    <h2 class="title">Design</h2>

                    <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and scrambled it to make a type specimen book.
                        <br>
                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the 1960s with the release of
                        Letraset sheets containing.
                    </p>

                    <p>Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                        standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but
                        also
                        the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in
                        the 1960s with the release of Letraset sheets containing.
                    </p>

                    <p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley
                        of type and scrambled it to make a type specimen book. Survived not only five centuries,
                        but
                        also the leap into electronic typesetting, remaining essentially unchanged. It was
                        popularised in the 1960s with the release of Letraset sheets containing.
                    </p>

                </article>

            </div>

            <aside class="col-md-4  services-sidebar">

                <section class="services-item clearfix">

                    <i class="fa fa-rocket"></i>

                    <h3 class="title"><a href="">Digital Strategy</a></h3>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Ipsum.</p>

                </section>

                <section class="services-item clearfix">

                    <i class="fa fa-mobile"></i>

                    <h3 class="title"><a href="">Mobile Apps</a></h3>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Ipsum.</p>

                </section>

                <section class="services-item clearfix">

                    <i class="fa fa-cogs"></i>

                    <h3 class="title"><a href="">Production</a></h3>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Ipsum. </p>

                </section>

            </aside>

        </div>
    </div>
</div>