<div class="container page-container">

    <div class="main" role="main">
        <!-- Page Header -->
        <section class="page-header">

            <header>

                <h1 class="page-title">
                    {{content?.title}} </h1>

                <div class="separator">
                    <span class="line"></span><span class="square"></span><span class="line"></span>
                </div>

                <p> {{content?.shortDescription}}</p>

                <div class="flex separator">
                    <span class="line"></span>
                    <span class="wrap"><span class="square"></span></span>
                </div>

            </header>

        </section>
        <!-- End Page Header -->

        <div class="row services-wrapper">

            <div class="col-md-8 ">

                <article class="clearfix">

                    <div class="service-icon">
                        <i [ngClass]="'fa fa-'+content?.icon"></i>
                    </div>

                    <h2 class="title">{{content?.subtitle}}</h2>

                    <p *ngFor="let par of content?.longDescs; index as i;">
                        {{par}}
                    </p>

                </article>

            </div>

            <aside class="col-md-4  services-sidebar">

                <ng-template ngFor let-s [ngForOf]="content?.sideDescs" let-i="index">
                    <section class="services-item clearfix">

                        <i [ngClass]="'fa fa-'+s.icon"></i>

                        <h3 class="title"><a href="">{{s.title}}</a></h3>

                        <p>{{s.shortDesc}}</p>

                    </section>
                </ng-template>

                <!-- <section class="services-item clearfix">

                    <i class="fa fa-rocket"></i>

                    <h3 class="title"><a href="">Digital Strategy</a></h3>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Ipsum.</p>

                </section>

                <section class="services-item clearfix">

                    <i class="fa fa-mobile"></i>

                    <h3 class="title"><a href="">Mobile Apps</a></h3>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Ipsum.</p>

                </section>

                <section class="services-item clearfix">

                    <i class="fa fa-cogs"></i>

                    <h3 class="title"><a href="">Production</a></h3>

                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Ipsum. </p>

                </section> -->

            </aside>

        </div>
    </div>
</div>