<section id="services" class="our-services variant-two section">

    <div class="container">

        <div class="row">

            <div class="wow fadeInLeft col-md-6  animated">
                <figure>
                    <img class="img-responsive" src="assets/images/temp/services-image-1.png" alt="">
                </figure>
            </div>

            <div class="wow fadeInRight col-md-6  animated">

                <div class="inner-contents">

                    <h2>Features you will Love &amp; Easy</h2>

                    <p>
                        Etiam pretium quam sed lectus mollis, sed elementum velit cursus. Phasellus
                        vitae mollis sem. Mauris vestibulum urna ac placerat.
                    </p>


                    <div class="font-list">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul>
                                    <li>One page Responsive Design</li>
                                    <li>Great Features and Easy to Use</li>
                                    <li>Easy Customization</li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul>
                                    <li>Responsive with Twitter Bootstrap</li>
                                    <li>Retina Ready Design</li>
                                    <li>Parallax Scrolling</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="theme-btn">EXPLORE MORE</a>

                </div>

            </div>

        </div>

    </div>

</section>