<!-- <div class="flexslider variant-two">
    <ul class="slides">


        <li>
            <div class="container">
                <div class="slide-description">
                    <h2 class="slide-title">DIGITAL AGENCY</h2>

                    <p><span>Fully Responsive Twitter with Bootstrap</span></p>

                    <p><span>Loaded with lots of features and amazing options</span></p>

                    <p><span>Awesome Design with lots of pages</span></p>
                    <a href="#">EXPLORE MORE</a>
                </div>
            </div>
            <a href="#"><img src="assets/images/temp/slider-image-1.jpg" alt="Slide"></a>
        </li>

        <li>
            <div class="container">
                <div class="slide-description ">
                    <h2 class="slide-title">WE ARE MIXER</h2>

                    <p><span>Fully Responsive Twitter with Bootstrap</span></p>

                    <p><span>Loaded with lots of features and amazing options</span></p>

                    <p><span>Awesome Design with lots of pages</span></p>
                    <a href="#">EXPLORE MORE</a>
                </div>
            </div>
            <a href="#"><img src="assets/images/temp/slider-image-2.jpg" alt="Slide"></a>
        </li>


    </ul>
</div> -->

<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
      <div class="ml-auto mr-auto">
        <img [src]="images[0]" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="ml-auto mr-auto">
        <img [src]="images[1]" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="ml-auto mr-auto">
        <img [src]="images[2]" alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
