<ngb-carousel>
    <ng-template ngbSlide *ngFor="let slide of slides$ | async">
      <div class="ml-auto mr-auto picsum-img-wrapper row no-gutters">

        <a href="#"><img [src]="slide.image" alt="Slide"></a>
    </div>

      <div class="carousel-caption">
        <h3>{{slide.slideCaptionTitle}}</h3>
        <p>{{slide.slideCaptionDescription}}</p>
      </div>
      <div class="col text-center slide-description ">
        <a href="#">{{slide.buttonText}}</a>

        </div>
    </ng-template>
  </ngb-carousel>
