<section id="about" class="about-us section variant-two">

    <div class="container wow fadeInUp animated">


        <!-- Section Title  -->
        <header class="section-header"><h2 class="title">{{about.title}}</h2>

            <div class="separator">
                <span class="line"></span><span class="square"></span><span class="line"></span>
            </div>
            <p>{{about.subtitle}} </p></header>
        <div class="row">

            <div class="innards wow fadeInLeft  col-sm-4  animated">


                <figure><img src="assets/images/temp/about-image-1.png" alt=""></figure>


                <h3>Fortune 500 Company</h3>

                <p>
                    Etiam pretium quam sed lectus mollis, sed elementum velit
                    cursus. Phasellus vitae mollis sem. Mauris vestibulum non
                    urna ac placerat. Proin luctus tortor ac arcu scelerisque
                    laoreet. Maecenas nisi metus,
                </p>

            </div>

            <div class="innards wow fadeInDown  col-sm-4  animated">


                <figure><img src="assets/images/temp/about-image-2.png" alt=""></figure>


                <h3>We know time is money</h3>

                <p>
                    Etiam pretium quam sed lectus mollis, sed elementum velit
                    cursus. Phasellus vitae mollis sem. Mauris vestibulum non
                    urna ac placerat. Proin luctus tortor ac arcu scelerisque
                    laoreet. Maecenas nisi metus,
                </p>

            </div>

            <div class="innards wow fadeInRight  col-sm-4 animated">


                <figure><img src="assets/images/temp/about-image-3.png" alt=""></figure>


                <h3>Serving from 10 years</h3>

                <p>
                    Etiam pretium quam sed lectus mollis, sed elementum velit
                    cursus. Phasellus vitae mollis sem. Mauris vestibulum non
                    urna ac placerat. Proin luctus tortor ac arcu scelerisque
                    laoreet. Maecenas nisi metus,
                </p>

            </div>

        </div>


    </div>

</section>