
<div class="fill-bg ">
<div class="container page-container">

<app-hero (buttonClicked)="scroll(target)"></app-hero>
    <div class="main" role="main">

        <!-- Page Header -->
        <section class="page-header">

            <header>


               <!--  <h1 class="page-title">
                    Contattaci </h1>

                <div class="separator">
                    <span class="line"></span><span class="square"></span><span class="line"></span>
                </div> -->


                <p>Supportiamo i liberi professionisti, le imprese
                    edili, gli amministratori di condominio, nella
                    gestione delle pratiche.</p>

                <div class="flex separator">
                    <span class="line"></span>
                    <span class="wrap"><span class="square"></span></span>
                </div>


            </header>

        </section>
        <!-- End Page Header -->


        <section #target id="contact-form">

            <h2 class="form-heading">Compila il form con i tuoi dati ti ricontatteremo al più presto</h2>

            <div *ngIf="incomplete" class="alert alert-warning" role="alert">
                Per favore compila tutti i campi
              </div>

              <div *ngIf="mailError" class="alert alert-warning" role="alert">
                  Errore invio mail. Prova a contattarci telefonicamente
              </div>

              <div *ngIf="mailSent" class="alert alert-warning" role="alert">
                  L'email è stata inviata. Sarai ricontattato al più presto da un nostro operatore!
            </div>

            <div *ngIf="sendEnabled" class="alert alert-warning" role="alert">
               Compilare re-Captcha!
            </div>




            <form (keydown.enter)="$event.preventDefault()" (submit)="$event.preventDefault()" class="contact-form clearfix" >

                <div class="container-left mr-auto ml-auto">

                    <p>
                        <label for="nome">Nome <span>*</span></label>
                        <input (change)="onChange()"class="form-control" [(ngModel)]="name" type="text" name="nome" id="name" class="required" title="Nome">
                    </p>
                    <p>
                        <label for="cognome">Cognome <span>*</span></label>
                        <input [(ngModel)]="surname" type="text" name="cognome" id="cognome" class="required" title="Cognome">
                    </p>

                    <p>
                        <label for="email">Indirizzo e-mail <span>*</span></label>
                        <input [(ngModel)]="email" type="text" name="email" id="email" class="email required"
                               title="Inserisci il tuo indirizzo e-mail">
                    </p>

                   <!--  <p>
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" id="subject">
                    </p> -->
                    <p>
                        <label for="comment">Lascia qui il tuo messaggio!</label>
                        <textarea [(ngModel)]="message" name="message" id="comment" class="required"
                                  title="Lascia qui il tuo messaggio..."></textarea>
                    </p>
                    <p class="text-left mt-2">
                        <!--disabled]="!sendEnabled"-->
                        <button  id='sendMail' (click)="sendMail()"  class="btn btn-mixer btn-lg">
                           <i class="fa fa-paper-plane fa-lg"></i> Invia
                       </button>
                   </p>
                </div>

                <div class="container-right">
                    <div class="col-12">
                        <app-fin-location class="mt-5"></app-fin-location>
                    </div>


                    <div *ngIf="sendEnabled" class="col-12">
                        <app-grecaptcha [reset]="mailError" (error)="disableSend()" (resolved)="enableSend($event)"></app-grecaptcha>
                        <!-- <p class="text-left mt-2">

                            <button [disabled]="!sendEnabled" id='sendMail' (click)="sendMail()"  class="btn btn-mixer btn-lg">
                               <i class="fa fa-paper-plane fa-lg"></i> Invia
                           </button>
                       </p> -->
                    </div>

                    <!-- <div class="row col-12">
                        <div class="col-6 col-md-6 col-sm-2 col-xs-2 mt-4 justify-content-end">

                            <app-grecaptcha (error)="disableSend()" (resolved)="enableSend($event)"></app-grecaptcha>

                    </div>
                        <div class="col-6 col-md-6 col-sm-2 col-xs-2 mt-4 justify-content-end">
                            <p class="text-right mt-5">

                                 <button [disabled]="!sendEnabled" id='sendMail' (click)="sendMail()"  class="btn btn-mixer btn-lg">
                                    <i class="fa fa-paper-plane fa-lg"></i> Invia
                                </button>
                            </p>
                        </div>

                    </div> -->



                </div>

            </form>
            <!-- <button id='sendMail' (click)="sendMail()"  class="btn btn-mixer btn-lg">
                <i class="fa fa-paper-plane fa-lg"></i> Invia
            </button> -->

            <!-- <div class="error-container"></div>
            <div id="message-sent"></div> -->

        </section>

        <ul class="contacts-list row">
            <li class="col-sm-4 text-center">
                <div class="inner-contact address-info">
                    <h4>Puoi trovarci in...</h4>

                    <div class="flex separator">
                        <span class="line"></span>
                        <span class="wrap"><span class="square"></span></span>
                    </div>
                    <p>
                        <i class="fa fa-map-marker fa-4x animated"></i>
                        Viale Unità D'italia, 3<br>
                        80045 Pompei (NA).
                    </p>
                </div>
            </li>
            <li class="col-sm-4 text-center">
                <div class="inner-contact contact-info">
                    <h4>Contatti</h4>

                    <div class="flex separator">
                        <span class="line"></span>
                        <span class="wrap"><span class="square"></span></span>
                    </div>

                    <p>
                        <i class="fa fa-phone-square fa-4x animated"></i>
                        081 863 5516
                        <br>
                    </p>
                </div>
            </li>
            <li class="col-sm-4 text-center">
                <div class="inner-contact mail-info">
                    <h4>Indirizzo e-mail</h4>

                    <div class="flex separator">
                        <span class="line"></span>
                        <span class="wrap"><span class="square"></span></span>
                    </div>

                    <p>
                        <i class="fa fa-envelope fa-4x animated"></i>
                        <a href="#">info@fingenius.it</a>
                        <br>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>