<section id="featues" class="features variant-two section">

    <div class="container wow fadeIn animated">

        <div class="row">

            <div class="standout wow fadeInLeft col-lg-4 col-md-6  animated">
                <h4>Why you would love</h4>

                <h2>MIXER THEME</h2>

                <p>
                    cursus. Phasellus vitae mollis sem. Mauris vestibulum non
                    urna ac placerat. Proin luctus tortor ac arcu scelerisque
                    laoreet. Maecenas nisi metus,
                </p>
                <a href="#" class="theme-btn">EXPLORE MORE</a>
            </div>

            <div class="wow fadeInRight col-lg-8 col-md-6  animated">

                <ul class="features-list">
                    <li>
                        <div class="icon-container">
                            <i class="fa fa-heart fa-2x"></i>
                        </div>
                        <div class="content">
                            <h4>Made with love and fully Customizable</h4>

                            <p>
                                Etiam pretium quam sed lectus mollis, sed elementum velit cursus. Phasellus vitae mollis
                                sem. Mauris vestibulum
                                urna ac placerat. Proin luctus tortor ac arcu scelerisque.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-container">
                            <i class="fa fa-magic fa-2x"></i>
                        </div>
                        <div class="content">
                            <h4>Lots of Options and Variations</h4>

                            <p>
                                Etiam pretium quam sed lectus mollis, sed elementum velit cursus. Phasellus vitae mollis
                                sem. Mauris vestibulum
                                urna ac placerat. Proin luctus tortor ac arcu scelerisque.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-container">
                            <i class="fa fa-mobile fa-3x"></i>
                        </div>
                        <div class="content">
                            <h4>Bootstrap Responsive</h4>

                            <p>
                                Etiam pretium quam sed lectus mollis, sed elementum velit cursus. Phasellus vitae mollis
                                sem. Mauris vestibulum
                                urna ac placerat. Proin luctus tortor ac arcu scelerisque.
                            </p>
                        </div>
                    </li>

                </ul>

            </div>

        </div>

    </div>

</section>