<div class="header-wrapper  variant-one">
    <header class="header container" role="banner">
        <div class="row">
            <div class="col-md-2 custom-col-logo">
                <div class="logo-wrapper">
                    <i class="custom-arrow-nav fa fa-long-arrow-down visible-xs"></i>

                    <div id="logo">

                        <a title="Fingenius Home" routerLink="/home" >
                            <img src="assets/images/fingenius/img/logo-sm.png" alt="Mixer">
                        </a>

                    </div>

                </div>
            </div>
            <div class="col-md-10 custom-col-menu">

                <div class="contact-card clearfix">
                    <button type="button" class="close visible-xs" aria-hidden="true"><i class="fa fa-remove"></i>
                    </button>
                    <ul class="social_networks clearfix">

                        <li class="facebook">
                            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>

                        <li class="twitter">
                            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>


                        <li class="rss">
                            <a target="_blank" href="# "> <i class="fa fa-rss"></i></a>
                        </li>

                        <li class="gplus">
                            <a href="# " target="_blank"><i class="fa fa-google-plus"></i></a>
                        </li>

                    </ul>
                </div>

                <div class="main-menu-wrapper">
                    <nav id="nav" class="main-menu clearfix" role="navigation">
                        <ul  class="clearfix" >
                            <ng-template ngFor let-item [ngForOf]="menuContent$ | async" let-i="index">
                                <li (mouseleave)="mouseOut()" (mouseover)="mouseIn($event, item.childs)" ><a  routerLink={{item.link}}>{{item.title}}</a>
                                    <ul [@slideInOut]="animationState" *ngIf="item.childs && item.childs.length > 0">
                                        <li *ngFor="let child of item.childs; index as i;">
                                            <a routerLink={{child.link}}>{{child.title}}</a>
                                        </li>
                                    </ul>
                                </li>
                              </ng-template>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

</div>