<section id="testimonial" class="testimonial variant-two section wow fadeInUp">

    <div class="container">

        <i class="icon-quote-start"></i>

        <blockquote>

            <p>
                We are really thankful to <strong>Mixer Multipurpose Theme</strong>, It was so easy to use it for site
                we are building and almost with infinite options. Fully recomonded.
            </p>

            <div class="author">

                <div class="separator">
                    <span class="line"></span><span class="square"></span><span class="line"></span>
                </div>

                <strong>Johnathan Doe, </strong>Theme Designer

            </div>

        </blockquote>

        <i class="icon-quote-end"></i>

    </div>

</section>