<app-hero></app-hero>

<app-about-section></app-about-section>

<!-- <app-services-section></app-services-section>
 -->
<!-- <app-features-section></app-features-section>
 -->

<!--testimonials-->
<!-- <app-testimonials-section></app-testimonials-section>
 -->
<!--testimonials ends-->

<!--footer-->


<!--our work-->
<!-- <section id="work" class="our-work variant-two section wow fadeInUp ">
    <div class="container custom-var-two-work">
        <header class="section-header">
            <h3 class="title">OUR AWESOME WORK</h3>

            <div class="separator">
                <span class="line"></span><span class="square"></span><span class="line"></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum risus sit amet mi lacinia
                hendrerit. Praesent velit dolor, varius non tortor non.</p>
        </header>
    </div>
    <div class="work-section-carousel">

        <div id="owl-carousel-work">

            <div class="item">
                <div class="gallery-item">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-1.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Illustration with pencil work</a></h5>

                        <p><a href="#">Graphic</a><a href="">Design</a></p>
                    </div>

                </div>
                <div class="gallery-item">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-2.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">3D type animation work</a></h5>

                        <p><a href="">Multimedia</a> <a href="">Solution</a></p>
                    </div>

                </div>
            </div>

            <div class="item">
                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-3.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Awesome Website Design</a></h5>

                        <p><a href="">Web Design</a></p>
                    </div>

                </div>

                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-4.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Creative Bulb with fresh mind</a></h5>

                        <p><a href="">Graphic Design</a></p>
                    </div>

                </div>
            </div>

            <div class="item">

                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-5.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">World globe with properties</a></h5>

                        <p><a href="">Print Media</a> <a href="">Solution</a></p>
                    </div>

                </div>


                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-6.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Creative Photoshop</a></h5>

                        <p><a href="">Web Design</a></p>
                    </div>

                </div>


            </div>

            <div class="item">

                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-7.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Cold Cofee with Cookies</a></h5>

                        <p><a href="">Wordpress Theme</a></p>
                    </div>

                </div>


                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-8.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Great App for iPhone</a></h5>

                        <p><a href="">Application</a></p>
                    </div>

                </div>


            </div>

            <div class="item">


                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-1.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Illustration with pencil work</a></h5>

                        <p><a href="#">Graphic</a><a href="">Design</a></p>
                    </div>

                </div>


                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-2.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">3D type animation work</a></h5>

                        <p><a href="">Multimedia</a> <a href="">Solution</a></p>
                    </div>

                </div>


            </div>

            <div class="item">

                <div class="gallery-item ">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-3.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Awesome Website Design</a></h5>

                        <p><a href="">Web Design</a></p>
                    </div>

                </div>


                <div class="gallery-item">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-4.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Creative Bulb with fresh mind</a></h5>

                        <p><a href="">Graphic Design</a></p>
                    </div>

                </div>


            </div>

            <div class="item">

                <div class="gallery-item">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-1.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">Illustration with pencil work</a></h5>

                        <p><a href="#">Graphic</a><a href="">Design</a></p>
                    </div>

                </div>
                <div class="gallery-item">

                    <figure>
                        <a class="gallery-btn" href="#" title="">EXPLORE MORE</a>

                        <div class="media-container"></div>
                        <img src="assets/images/temp/gallery-image-2.jpg" alt="Photo">
                    </figure>

                    <div class="inner-contents">
                        <h5 class="item-title"><a href="#" title="">3D type animation work</a></h5>

                        <p><a href="">Multimedia</a> <a href="">Solution</a></p>
                    </div>

                </div>
            </div>

        </div>

    </div>


</section> -->

<!--our work ends-->

<!--clients-->
<!--
<section id="clients" class="our-clients variant-two section">

    <div class="container wow fadeInUp">

        <header class="section-header">
            <h3 class="title">AWESOME CLIENTS</h3>

            <div class="separator">
                <span class="line"></span><span class="square"></span><span class="line"></span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam bibendum risus sit amet mi lacinia
                hendrerit. Praesent velit dolor, varius non tortor non.</p>
        </header>


        <div class="client-section-carousel">
            <div id="owl-carousel" class="client-carousel owl-theme">
                <div class="item"><a href="#"><img src="assets/images/temp/logo-1.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-2.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-3.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-4.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-5.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-1.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-2.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-3.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-4.png" alt=""/></a></div>
                <div class="item"><a href="#"><img src="assets/images/temp/logo-5.png" alt=""/></a></div>
            </div>
        </div>

    </div>


</section> -->

<!--clients ends-->

